<div class="kt-grid kt-grid--ver kt-grid--root" id="resetPassword">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v2" style="height: -webkit-fill-available;background-image: url(./Scripts/3.jpg);">
        <div class="kt-error_container">
            <span class="kt-error_title2 kt-font-light">
                <h1 class="nk-navbarText textErrorNotice">Wystąpił nieoczekiwany błąd!</h1>
            </span>
            <span class="kt-error_desc kt-font-light nk-navbarText">
                <h1 class="nk-navbarText textErrorNotice">Należy wygenerować nowy link restartujący hasło w<a class="ERCcolor nk-navbarA" routerLink="/Login"> Panelu Logowania.</a></h1>
            </span>
        </div>
    </div>
</div>