<div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v2 kt-login--signin" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
                style="background-image: url(/Scripts/5.jpg); height: -webkit-fill-available;">
                <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                    <div class="kt-login__container">
                        <div class="kt-login__logo">
                            <a href="#">
                                <img src="/Scripts/logo-2.png">
                            </a>
                        </div>
                        <app-login></app-login>
                        <app-register></app-register>
                    </div>
                </div>
            </div>
        </div>
    </div>