<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v2 kt-login--signin" id="kt_reset">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
            style="background-image: url(/Scripts/5.jpg); height: -webkit-fill-available;">
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                <div class="kt-login__container">
                    <div class="kt-login__logo">
                        <img src="/Scripts/logo-2.png">
                    </div>
                    <div class="kt-login__head">
                        <h3 class="kt-login__title">Restartuj hasło.</h3>
                        <div class="kt-login__desc nk-navbarText">Wprowadź nowe hasło.</div>
                    </div>
                    <form class="kt-form" #rp="ngForm" (ngSubmit)="rp.form.valid && resetPassword(rp)"
                        [mustMatch]="['resetPassword', 'resetConfirmPassword']" novalidate>
                        <div *ngFor="let error of errors.Errors" [innerHTML]="error" class="nk-navbarText serverErrors">
                        </div>
                        <div class="input-group">
                            <input class="form-control" type="email" placeholder="Email" name="resetemail"
                                [(ngModel)]="resetPasswordModel.Email" #ResetEmail="ngModel"
                                [ngClass]="{ 'is-invalid': rp.submitted && ResetEmail.invalid }" required email
                                autocomplete="off">
                            <div *ngIf="rp.submitted && ResetEmail.invalid" class="invalid-feedback nk-navbarText">
                                <div *ngIf="ResetEmail.errors.required">Email jest wymagany.</div>
                                <div *ngIf="ResetEmail.errors.email">Podano nie prawidłowy Email.</div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input class="form-control" type="password" placeholder="Hasło" name="resetPassword"
                                [(ngModel)]="resetPasswordModel.Password" #ResetPassword="ngModel"
                                [ngClass]="{ 'is-invalid': rp.submitted && ResetPassword.invalid }" required
                                minlength="6" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
                            <div *ngIf="rp.submitted && ResetPassword.invalid" class="invalid-feedback nk-navbarText">
                                <div *ngIf="ResetPassword.errors.required">Hasło jest wymagane.</div>
                                <div *ngIf="ResetPassword.errors.pattern">Hasło musi się składać przynajmniej z jednej
                                    cyfry oraz z dużej i małej litery.</div>
                                <div *ngIf="ResetPassword.errors.minlength">Hasło musi mieć przynajmniej 6 znaków.</div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input class="form-control" type="password" placeholder="Potwierdź hasło"
                                name="resetConfirmPassword" [(ngModel)]="resetPasswordModel.ConfirmPassword"
                                #ResetConfirmPassword="ngModel"
                                [ngClass]="{ 'is-invalid': rp.submitted && ResetConfirmPassword.invalid }" required>
                            <div *ngIf="rp.submitted && ResetConfirmPassword.invalid"
                                class="invalid-feedback nk-navbarText">
                                <div *ngIf="ResetConfirmPassword.errors.required">Potwierdźenie hasła jest wymagane.
                                </div>
                                <div *ngIf="ResetConfirmPassword.errors.mustMatch">Hasła nie pasują do siebie.</div>
                            </div>
                        </div>
                        <div class="kt-login__actions">
                            <button type="submit"
                                class="btn btn-pill kt-login__btn-primary">Restartuj</button>&nbsp;&nbsp;
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>