<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-line-chart"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Zarządzanie Galerią
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button mat-button class="btn btn-primary" (click)="updateGallery()">
                        <i class="fas fa-images"></i>
                        Aktualizuj Galerię
                    </button>
                    <button mat-button class="btn btn-success" (click)="authGallery()">
                        <i class="fab fa-google"></i>
                        Autoryzacja
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>