<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-line-chart"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Zarządzanie Kalendarzem
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button mat-button class="btn btn-brand btn-elevate btn-icon-sm" (click)="openAddCalendarDialog()">
                        <i class="far fa-newspaper"></i>
                        Dodaj Wydarzenie
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TYTUŁ</th>
                    <th>LINK DO WYDARZENIA</th>
                    <th>CAŁODNIOWE</th>
                    <th>KOLOR TŁA</th>
                    <th>KOLOR OBRAMOWANIA</th>
                    <th>KOLOR TEKSTU</th>
                    <th>ROZPOCZĘCIE WYDARZENIA</th>
                    <th>ZAKOŃCZENIE WYDARZENIA</th>
                    <th>AKCJA</th>
                </tr>
            </thead>
            <tbody *ngFor="let event of getCalendar(); let i = index">
                <tr>
                    <td>{{i}}</td>
                    <td>{{event.title}}</td>
                    <td>{{event.url}}</td>
                    <td *ngIf="event.allDay == false">Nie</td>
                    <td *ngIf="event.allDay == true">Tak</td>
                    <td [ngStyle]="{'background-color': event.backgroundColor}">{{event.backgroundColor}}</td>
                    <td [ngStyle]="{'background-color': event.borderColor}">{{event.borderColor}}</td>
                    <td [ngStyle]="{'background-color': event.textColor}">{{event.textColor}}</td>
                    <td>{{event.end}}</td>
                    <td>{{event.start}}</td>
                    <td>
                        <button class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Edytuj" (click)="openEditCalendarDialog(event.id)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Usuń" (click)="openDeleteCalendarDialog(event.id)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>