<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Edytowanie Aktualności</h3>
        </div>
    </div>
    <div *ngFor="let error of errors.Errors" [innerHTML]="error" class="nk-navbarText serverErrors"></div>
    <form class="kt-form" #ncef="ngForm" (ngSubmit)="ncef.form.valid && updateCalendarEvent(ncef)">
        <div class="kt-portlet__body">
            <div class="form-group kt-form__group row">
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="erc-full-width">
                        <input type="text" matInput placeholder="Tytuł" name="title" [(ngModel)]="data.title"
                            #Title="ngModel" [ngClass]="{ 'is-invalid': ncef.submitted && Title.invalid }" required
                            autocomplete="off">
                        <div *ngIf="ncef.submitted && Title.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="Title.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="erc-full-width">
                        <input type="url" matInput placeholder="Link do wydarzenia" name="url" [(ngModel)]="data.url"
                            #Url="ngModel" [ngClass]="{ 'is-invalid': ncef.submitted && Url.invalid }" required
                            autocomplete="off">
                        <div *ngIf="ncef.submitted && Url.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="Url.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field">
                        <mat-select placeholder="Całodniowy?" name="allday" [(ngModel)]="data.allDay" #AllDay="ngModel"
                            [ngClass]="{ 'is-invalid': ncef.submitted && AllDay.invalid }" required>
                            <mat-option value="true">TAK</mat-option>
                            <mat-option value="false">NIE</mat-option>
                        </mat-select>
                        <div *ngIf="ncef.submitted && AllDay.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="AllDay.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="datetime-local" matInput placeholder="Data i godzinna wydarzenia" name="start"
                            [(ngModel)]="data.start" #Start="ngModel"
                            [ngClass]="{ 'is-invalid': ncef.submitted && Start.invalid }" required autocomplete="off">
                        <div *ngIf="ncef.submitted && Start.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="Start.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="datetime-local" matInput placeholder="Data i godzinna zakończenia wydarzenia" name="end"
                            [(ngModel)]="data.end" #End="ngModel"
                            [ngClass]="{ 'is-invalid': ncef.submitted && End.invalid }" required autocomplete="off">
                        <div *ngIf="ncef.submitted && End.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="End.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="color" matInput placeholder="Kolor tła" name="backgroundcolor"
                            [(ngModel)]="data.backgroundColor">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="color" matInput placeholder="Kolor obramowania" name="bordercolor"
                            [(ngModel)]="data.borderColor">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input type="color" matInput placeholder="Kolor tekstu" name="color"
                            [(ngModel)]="data.textColor">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button type="button" mat-button mat-dialog-close
                            class="btn btn-outline-dark btn-elevate btn-icon-sm">
                            <i class="fas fa-ban"></i>
                            Anuluj
                        </button>&nbsp;
                        <button type="submit" mat-button cdkFocusInitial
                            class="btn btn-primary btn-elevate btn-icon-sm">
                            <i class="fas fa-plus"></i>
                            Zaktualizuj
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>