<div class="kt-login__forgot">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Nie pamiętasz hasła ?</h3>
        <div class="kt-login__desc nk-navbarText">Wpisz swój adres e-mail, aby zresetować hasło:</div>
    </div>
    <form class="kt-form" #ff="ngForm" (ngSubmit)="ff.form.valid && forgotpassword(ff)">
        <div *ngFor="let error of errors.Errors" [innerHTML]="error" class="nk-navbarText serverErrors"></div>
        <div class="input-group">
            <input class="form-control" type="email" placeholder="Email" name="forgotemail"
                [(ngModel)]="forgotPasswordModel.Email" #ForgotEmail="ngModel"
                [ngClass]="{ 'is-invalid': ff.submitted && ForgotEmail.invalid }" required email autocomplete="off">
            <div *ngIf="ff.submitted && ForgotEmail.invalid" class="invalid-feedback nk-navbarText">
                <div *ngIf="ForgotEmail.errors.required">Email jest wymagany.</div>
                <div *ngIf="ForgotEmail.errors.email">Podano nie prawidłowy Email.</div>
            </div>
        </div>
        <div align="center" style="margin-top: 15px">
            <re-captcha [(ngModel)]="forgotPasswordModel.ReCaptcha" name="captcha" required
                siteKey="6LcxK4IUAAAAAAFzwXdXff5DDXfk6FB5Qe55YfMD"></re-captcha>
        </div>
        <div class="kt-login__actions">
            <button type="submit" class="btn btn-pill kt-login__btn-primary">Wyślij</button>&nbsp;&nbsp;
            <button id="kt_login_forgot_cancel" class="btn btn-pill kt-login__btn-secondary">Anuluj</button>
        </div>
    </form>
</div>