<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Logowanie</h3>
    </div>
    <form class="kt-form" #fl="ngForm" (ngSubmit)="fl.form.valid && login(fl)">
        <div *ngFor="let error of errors.Errors" [innerHTML]="error" class="nk-navbarText serverErrors"></div>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Nazwa użytkownika" name="username"
                [(ngModel)]="loginModel.UserName" #Login="ngModel"
                [ngClass]="{ 'is-invalid': fl.submitted && Login.invalid }" required autocomplete="off">
            <div *ngIf="fl.submitted && Login.invalid" class="invalid-feedback nk-navbarText">
                <div *ngIf="Login.errors.required">Nazwa użytkownika jest wymagana.</div>
            </div>
        </div>
        <div class="input-group">
            <input class="form-control" type="password" placeholder="Hasło" name="loginpassword"
                [(ngModel)]="loginModel.Password" #LoginPassword="ngModel"
                [ngClass]="{ 'is-invalid': fl.submitted && LoginPassword.invalid }" required>
            <div *ngIf="fl.submitted && LoginPassword.invalid" class="invalid-feedback nk-navbarText">
                <div *ngIf="LoginPassword.errors.required">Hasło jest wymagane.</div>
            </div>
        </div>
        <div class="row kt-login__extra">
            <div class="col">
                <label class="kt-checkbox nk-navbarText">
                    <input class="form-control" type="checkbox" name="remeberme"
                        [(ngModel)]="loginModel.RememberMe">Zapamiętaj mnie
                    <span></span>
                </label>
                <span class="form-text text-muted"></span>
            </div>
            <div class="col kt-align-right">
                <a href="javascript:;" id="kt_login_forgot" class="kt-link kt-login__link nk-navbarText">Nie pamiętasz hasła ?</a>
            </div>
        </div>
        <div class="kt-login__actions">
            <button type="submit" class="btn btn-pill kt-login__btn-primary">Zaloguj się</button>
        </div>
    </form>
</div>
<app-forgotpassword></app-forgotpassword>
<div class="kt-login__account nk-navbarText">
    <span class="kt-login__account-msg">
        Nie masz jeszcze konta ?
    </span>&nbsp;&nbsp;
    <a href="javascript:;" id="kt_login_signup" class="kt-link kt-link--light kt-login__account-link">Zarejestruj się</a>
</div>