<header class="nk-header nk-header-opaque">
    <div class="nk-logo-top">
        <div class="col-xl-12">
            <a href="/Home/Index" class="nk-nav-logo">
                <img alt="EastRidersLogo" width="250" src="/Scripts/logo-2.png">
            </a>
            <span class="h1 fontSize2 margin10">HARLEY-DAVIDSON<span class="h5 align-text-top">&#174;</span> EAST RIDERS CLUB</span>
        </div>
        <div *ngIf="isAuth === false" class="login-hyperlink">
            <a class="ion-md-log-in text-orange nk-navbarA" routerLink="/Login"> Logowanie</a>
        </div>
        <div *ngIf="isAuth === true && isMember === true" class="login-hyperlink">
            <a class="ion-md-beer text-orange nk-navbarA" routerLink="/ClubDashboard"> Kokpit</a>
        </div>
        <div *ngIf="isAuth === true && isMember === false" class="login-hyperlink">
            <a class="ion-ios-person text-orange nk-navbarA" routerLink="/UserProfil"> Profil</a>
        </div>
    </div>
    <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
        <div class="container">
            <div class="nk-nav-table">
                <ul class="nk-nav nk-nav-center d-none d-lg-table-cell" data-nav-mobile="#nk-nav-mobile">
                    <li>
                        <a href="#news">Aktualności</a>
                    </li>
                    <li>
                        <a href="#club">Klub</a>
                    </li>
                    <li>
                        <a href="#calendar">Kalendarz</a>
                    </li>
                    <li>
                        <a href="#gallery">Galeria</a>
                    </li>
                    <li>
                        <a href="#forum">Forum</a>
                    </li>
                    <li>
                        <a href="#motowisla">MotoWisła</a>
                    </li>
                </ul>
                <ul class="nk-nav nk-nav-right nk-nav-icons">

                    <li class="single-icon d-lg-none">
                        <a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
                            <span class="nk-icon-burger">
                                <span class="nk-t-1"></span>
                                <span class="nk-t-2"></span>
                                <span class="nk-t-3"></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="nk-nav-mobile"
    class="nk-navbar nk-navbar-side nk-navbar-left-side nk-navbar-overlay-content nk-navbar-blur d-lg-none">
    <div class="nano">
        <div class="nano-content">
            <div class="nk-nav-table">
                <div class="nk-nav-row">
                    <a href="/Home/Index" class="nk-nav-logo">
                        <img alt="EastRidersLogo" width="150" src="/Scripts/logo-2.png">
                    </a>
                </div>
                <div class="nk-nav-row nk-nav-row-full nk-nav-row-top">
                    <div class="nk-navbar-mobile-content">
                        <ul class="nk-nav">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nk-main">
    <app-news-main></app-news-main>
    <app-club-main></app-club-main>
    <app-calendar-main></app-calendar-main>
    <app-gallery-main></app-gallery-main>

    <!--Footer-->
    <footer class="nk-footer nk-footer-parallax nk-footer-parallax-opacity">
        <div class="bg-image">
            <img alt="Footer" src="/Scripts/7.jpg">
        </div>
        <div class="container">
            <div class="nk-gap-4"></div>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12 push-md-4" style="text-align: center">
                    <a href="#">
                        <img src="/Scripts/logo-2.png" alt="EastRidersLogo" width="250">
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="nk-copyright-2">
                        <div class="container text-center text text-orange h4 nk-navbarText">
                            &copy; {{dateTimeNow | date:'yyyy'}} Wszystkie prawa zastrzeżone
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-gap-4"></div>
        </div>
    </footer>
</div>