<div class="kt-login__signup">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Zarejestruj się</h3>
        <div class="kt-login__desc nk-navbarText">Wprowadź swoje dane, aby utworzyć konto:</div>
    </div>
    <form class="kt-login__form kt-form" #fr="ngForm" (ngSubmit)="fr.form.valid && register(fr)"
        [mustMatch]="['password', 'confirmPassword']" novalidate>
        <div *ngFor="let error of errors.Errors" [innerHTML]="error" class="nk-navbarText serverErrors"></div>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Nazwa użytkownika" name="name"
                [(ngModel)]="registerModel.Name" #Name="ngModel"
                [ngClass]="{ 'is-invalid': fr.submitted && Name.invalid }" required minlength="4" maxlength="25">
            <div *ngIf="fr.submitted && Name.invalid" class="invalid-feedback nk-navbarText">
                <div *ngIf="Name.errors.required">Nazwa użytkownika jest wymagana.</div>
                <div *ngIf="Name.errors.minlength">Nazwa użytkownika musi mieć przynajmniej 4 znaki.</div>
                <div *ngIf="Name.errors.maxlength">Nazwa użytkownika nie może mieć więcej niż 25 znaków.</div>
            </div>
        </div>
        <div class="input-group">
            <input class="form-control" type="email" placeholder="Email" name="email" [(ngModel)]="registerModel.Email"
                #Email="ngModel" [ngClass]="{ 'is-invalid': fr.submitted && Email.invalid }" required email
                autocomplete="off">
            <div *ngIf="fr.submitted && Email.invalid" class="invalid-feedback nk-navbarText">
                <div *ngIf="Email.errors.required">Email jest wymagany.</div>
                <div *ngIf="Email.errors.email">Podano nie prawidłowy Email.</div>
            </div>
        </div>
        <div class="input-group">
            <input class="form-control" type="password" placeholder="Hasło" name="password"
                [(ngModel)]="registerModel.Password" #Password="ngModel"
                [ngClass]="{ 'is-invalid': fr.submitted && Password.invalid }" required minlength="6"
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
            <div *ngIf="fr.submitted && Password.invalid" class="invalid-feedback nk-navbarText">
                <div *ngIf="Password.errors.required">Hasło jest wymagane.</div>
                <div *ngIf="Password.errors.pattern">Hasło musi się składać przynajmniej z jednej cyfry oraz z dużej i
                    małej litery.</div>
                <div *ngIf="Password.errors.minlength">Hasło musi mieć przynajmniej 6 znaków.</div>
            </div>
        </div>
        <div class="input-group">
            <input class="form-control" type="password" placeholder="Potwierdź hasło" name="confirmPassword"
                [(ngModel)]="registerModel.ConfirmPassword" #ConfirmPassword="ngModel"
                [ngClass]="{ 'is-invalid': fr.submitted && ConfirmPassword.invalid }" required>
            <div *ngIf="fr.submitted && ConfirmPassword.invalid" class="invalid-feedback nk-navbarText">
                <div *ngIf="ConfirmPassword.errors.required">Potwierdźenie hasła jest wymagane.</div>
                <div *ngIf="ConfirmPassword.errors.mustMatch">Hasła nie pasują do siebie.</div>
            </div>
        </div>
        <div class="row kt-login__extra">
            <div class="col kt-align-left">
                <label class="kt-checkbox nk-navbarText">
                    <input class="form-control" type="checkbox" name="agree" [(ngModel)]="registerModel.Agree"
                        #Agree="ngModel" [ngClass]="{ 'is-invalid': fr.submitted && ConfirmPassword.invalid }" required>
                    <div *ngIf="fr.submitted && Agree.invalid" class="invalid-feedback nk-navbarText">
                        <div *ngIf="Agree.errors.required">Akceptacja regulaminu jest wymagana.</div>
                    </div>Zgadzam się na <a href="#" class="kt-link kt-login__link kt-font-bold">regulamin</a>.
                    <span></span>
                </label>
                <span class="form-text text-muted"></span>
            </div>
        </div>
        <div align="center">
            <re-captcha [(ngModel)]="registerModel.ReCaptcha" name="captcha" required
                siteKey="6LcxK4IUAAAAAAFzwXdXff5DDXfk6FB5Qe55YfMD"></re-captcha>
        </div>
        <div class="kt-login__actions">
            <button type="submit" class="btn btn-pill kt-login__btn-primary">Załóż konto</button>&nbsp;&nbsp;
            <button id="kt_login_signup_cancel" class="btn btn-pill kt-login__btn-secondary">Anuluj</button>
        </div>
    </form>
</div>