<div class="nk-box text-white" id="calendar">
  <div class="bg-image bg-image-parallax">
    <img alt="ClubMainImg" src="/Scripts/5.jpg">
  </div>
  <div class="nk-gap-3"></div>
  <div class="nk-navbarText">
    <div class="container maxwidthCalendar">
      <div class="nk-gap-3"></div>
      <h2 class="nk-title h1 text-center">Wydarzenia</h2>
      <app-fullcalendar defaultView="dayGridMonth" 
      [plugins]="calendarPlugins" 
      [events]="calendarEvents">
    </app-fullcalendar>
  </div>
    </div>
  <div class="nk-gap-3"></div>
</div>