.kt-error-v2 {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

    .kt-error-v2 .kt-error_container .kt-error_title2 > h1 {
        font-size: 6rem;
        text-align: center;
        margin-top: 45rem;
        font-weight: 500;
    }

    .kt-error-v2 .kt-error_container .kt-error_desc {
        font-size: 2.5rem;
        text-align: center;
        display: block;
        font-weight: 700;
    }

@media (max-width: 768px) {
    .kt-error-v2 .kt-error_container .kt-error_desc {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }
}

.nk-navbarText {
    position: relative;
    font-weight: 700;
    z-index: 1000;
    background-color: rgba(0,0,0,0.9);
    border-radius: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

.textErrorNotice {
    color: red !important;
}
