<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Dodawanie Aktualności</h3>
        </div>
    </div>
    <div *ngFor="let error of errors.Errors" [innerHTML]="error" class="nk-navbarText serverErrors"></div>
    <form class="kt-form" #nf="ngForm" (ngSubmit)="nf.form.valid && newNews(nf)">
        <div class="kt-portlet__body">
            <div class="form-group kt-form__group row">
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="erc-full-width">
                        <input type="url" matInput placeholder="Link do zdjęcia" name="url" [(ngModel)]="data.Url"
                            #Url="ngModel" [ngClass]="{ 'is-invalid': nf.submitted && Url.invalid }" required
                            autocomplete="off">
                        <div *ngIf="nf.submitted && Url.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="Url.errors.required">Zdjęcie aktualności jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="erc-full-width">
                        <input type="text" matInput placeholder="Tytuł" name="title" [(ngModel)]="data.Title"
                            #Title="ngModel" [ngClass]="{ 'is-invalid': nf.submitted && Title.invalid }" required
                            autocomplete="off">
                        <div *ngIf="nf.submitted && Title.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="Title.errors.required">Tytuł jest wymagany.</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="erc-full-width">
                        <textarea rows="3" matInput placeholder="Krótki Opis" name="shortdescription"
                            [(ngModel)]="data.ShortDescription" #ShortDescription="ngModel"
                            [ngClass]="{ 'is-invalid': nf.submitted && Title.invalid }" required
                            autocomplete="off"></textarea>
                        <div *ngIf="nf.submitted && ShortDescription.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="ShortDescription.errors.required">Krótki opis jest wymagany.</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="erc-full-width">
                        <textarea rows="6" matInput placeholder="Opis" name="description" [(ngModel)]="data.Description"
                            #Description="ngModel" [ngClass]="{ 'is-invalid': nf.submitted && Title.invalid }" required
                            autocomplete="off"></textarea>
                        <div *ngIf="nf.submitted && Description.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="Description.errors.required">Opis jest wymagany.</div>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field">
                        <mat-select placeholder="Typ Artykułu" name="type" [(ngModel)]="data.Type" #Type="ngModel"
                            [ngClass]="{ 'is-invalid': nf.submitted && Title.invalid }" required autocomplete="off">
                            <mat-option value="Artykuł">Artykuł</mat-option>
                        </mat-select>
                        <div *ngIf="nf.submitted && Type.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="Type.errors.required">Opis jest wymagany.</div>
                        </div>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button type="button" mat-button mat-dialog-close
                            class="btn btn-outline-dark btn-elevate btn-icon-sm">
                            <i class="fas fa-ban"></i>
                            Anuluj
                        </button>&nbsp;
                        <button type="submit" mat-button cdkFocusInitial
                            class="btn btn-primary btn-elevate btn-icon-sm">
                            <i class="fas fa-plus"></i>
                            Dodaj
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>