<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Usuń {{data.Title}}</h3>
            <span class="kt-portlet__head-icon kt-hide">
                <i class="fas fa-trash"></i>
            </span>
        </div>
    </div>
    <div class="kt-form">
        <div class="kt-portlet__body">
            <div class="form-group kt-form__group row">
                <div class="col-lg-12">
                    Czy na pewno chcesz trwale usunąć tą aktualność?
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit text-right">
            <div class="kt-form__actions kt-form__actions--sm">
                <button mat-button mat-dialog-close class="btn btn-outline-dark btn-elevate btn-icon-sm">Anuluj</button>&nbsp;
                <button mat-button (click)="deleteNews(data.Id)" cdkFocusInitial class="btn btn-danger btn-elevate btn-icon-sm">Usuń</button>
            </div>
        </div>
    </div>
</div>