<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-line-chart"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Zarządzanie Aktualnościami
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button mat-button class="btn btn-brand btn-elevate btn-icon-sm" (click)="openAddNewsDialog()">
                        <i class="far fa-newspaper"></i>
                        Dodaj Aktualność
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ZDJĘCIE</th>
                    <th>TYTUŁ</th>
                    <th>TYP</th>
                    <th>DATA UTWORZENIA</th>
                    <th>UTWORZONE PRZEZ</th>
                    <th>AKCJA</th>
                </tr>
            </thead>
            <tbody *ngFor="let new of getNews(); let i = index">
                <tr>
                    <td>{{i}}</td>
                    <td><img src="{{new.Url}}" height="100px" width="auto" /></td>
                    <td>{{new.Title}}</td>
                    <td>{{new.Type}}</td>
                    <td>{{new.CreationDate | slice:6:-2 | date: 'dd-MM-yyyy h:mm'}}</td>
                    <td>{{new.CreatedBy}}</td>
                    <td>
                        <button class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Edytuj" (click)="openEditNewsDialog(new.Id)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Usuń" (click)="openDeleteNewsDialog(new.Id)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>