<div class="nk-box text-white" id="club">
    <div class="bg-image bg-image-parallax">
        <img alt="ClubMainImg" src="/Scripts/6.jpg">
    </div>
    <div class="nk-gap-5"></div>
    <div class="container maxwidth">
        <h2 class="nk-title h1 text-center">H-D East Riders Club Poland</h2>
        <p class="lead text-center text-orange nk-navbarText" [innerHTML]="getClubDescription().Description"></p>
        <div class="nk-gap"></div>
        <h3 class="nk-title h2 text-center nk-navbarText">Zarząd Klubu:</h3>
        <dl class="lead strong text-center text-orange nk-navbarText">
            <dd>
                <strong>{{getClubDescription().President}}</strong> - Prezydent
            </dd>
            <dd>
                <strong>{{getClubDescription().VPresidentSecretary}}</strong> - Wiceprezydent - Sekretarz
            </dd>
            <dd>
                <strong>{{getClubDescription().VPresident}}</strong> - Wiceprezydent
            </dd>
            <dd>
                <strong>{{getClubDescription().Treasurer}}</strong> - Skarbnik
            </dd>
            <dd>
                <strong>{{getClubDescription().Photographer}}</strong> - Członek Zarządu – Fotograf
            </dd>
            <dd>
                <strong>{{getClubDescription().GraphicDesigner}}</strong> - Graphic Designer
            </dd>
        </dl>
        <h3 class="nk-title h2 text-center nk-navbarText">Komisja Rewizyjna:</h3>
        <dl class="lead strong text-center text-orange nk-navbarText">
            <dd>
                <strong>{{getClubDescription().Chairman}}</strong> - Przewodniczący
            </dd>
            <dd>
                <strong>{{getClubDescription().Member1}}</strong>
            </dd>
            <dd>
                <strong>{{getClubDescription().Member2}}</strong>
            </dd>
        </dl>
        <div class="nk-gap-1"></div>
    </div>
    <div class="nk-gap-5"></div>
</div>