<div class="nk-box text-white" id="gallery">
    <div class="bg-image bg-image-parallax">
        <img alt="GalleryMainImg" src="/Scripts/2.jpg">
    </div>
    <div class="container">
        <div class="nk-carousel-3">
            <div *ngFor="let gallery of galleries" [innerHTML]="gallery | noSanitize"></div>
            <div class="nk-gap-5"></div>
        </div>
    </div>
</div>