<div class="nk-header-title nk-header-title-full nk-header-title-parallax nk-header-title-parallax-opacity nk-header-title-parallax-blur"
    id="news">
    <div class="bg-image">
        <img src="/Scripts/1.jpg">
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container maxwidth">
                <div class="row">
                    <div class="nk-blog-isotope nk-isotope nk-isotope-gap nk-isotope-3-cols">
                        <div class="nk-isotope-item nk-navbarText col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let news of getNewsByLimit(3)">
                            <div class="nk-post-meta"></div>
                            <div class="nk-blog-post">
                                <div class="bg-dark-2 op-8">
                                    <div class="nk-post-category">
                                        <span class="text-orange h4">Kategoria: </span><a class="h4 underline" href="">
                                            {{news.Type}}</a>
                                    </div>
                                    <h2 class="nk-post-title h3"><a href="">{{news.Title}}</a></h2>
                                </div>
                                <a href=""><img src={{news.Url}} alt="" class="nk-img-stretch"></a>

                                <div class="nk-post-text">
                                    <p>{{news.ShortDescription}}</p>
                                </div>

                                <div class="nk-post-meta">
                                    <div class="nk-post-date">
                                        {{news.CreationDate | slice:6:-2 | date: 'dd-MM-yyyy'}} <span
                                            class="nk-post-by">{{news.CreatedBy}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>