<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__logo">
        H-DC East Riders
    </div>
    <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left"
            id="kt_aside_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler"><i
                class="flaticon-more"></i></button>
    </div>
</div>
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
        <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop"
            id="kt_aside">

            <div class="kt-aside__brand kt-grid__item backgroundColorDarkGrey" id="kt_aside_brand">
                <div class="kt-aside__brand-logo ERCcolors">
                    H-DC East Riders
                </div>
            </div>
            <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid backgroundColorBlack"
                id="kt_aside_menu_wrapper">
                <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1"
                    data-ktmenu-dropdown-timeout="500">
                    <ul class="kt-menu__nav ERCfontsize">
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
                            data-ktmenu-submenu-toggle="hover"><a [routerLinkActive]="['active']"
                                [routerLink]="['/ClubDashboard']" class="kt-menu__link kt-menu__toggle">
                                <span class="kt-menu__link-icon"><i
                                        class="fas fa-tachometer-alt kt-svg-icon"></i></span><span
                                    class="kt-menu__link-text">Kokpit</span><i
                                    class="kt-menu__ver-arrow la la-angle-right"></i></a>
                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
                            data-ktmenu-submenu-toggle="hover"><a href="javascript:;"
                                class="kt-menu__link kt-menu__toggle">
                                <span class="kt-menu__link-icon"><i class="fas fa-tasks kt-svg-icon"></i></span><span
                                    class="kt-menu__link-text">Zarządzanie stroną</span><i
                                    class="kt-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item " aria-haspopup="true"><a [routerLinkActive]="['active']"
                                            [routerLink]="['./NewsDashboard']" class="kt-menu__link "><i
                                                class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                                class="kt-menu__link-text">Aktualności</span></a></li>
                                    <li class="kt-menu__item " aria-haspopup="true"><a [routerLinkActive]="['active']"
                                            [routerLink]="['./ClubInformationDashboard']" class="kt-menu__link "><i
                                                class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                                class="kt-menu__link-text">Klub</span></a></li>
                                    <li class="kt-menu__item " aria-haspopup="true"><a [routerLinkActive]="['active']"
                                            [routerLink]="['./CalendarDashboard']" class="kt-menu__link "><i
                                                class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                                class="kt-menu__link-text">Kalendarz</span></a></li>
                                    <li class="kt-menu__item " aria-haspopup="true"><a [routerLinkActive]="['active']"
                                            [routerLink]="['./GalleryDashboard']" class="kt-menu__link "><i
                                                class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                                class="kt-menu__link-text">Galeria</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
                            data-ktmenu-submenu-toggle="hover"><a href="javascript:;"
                                class="kt-menu__link kt-menu__toggle">
                                <span class="kt-menu__link-icon"><i class="fas fa-oil-can kt-svg-icon"></i></span><span
                                    class="kt-menu__link-text">Zarządzanie klubem</span><i
                                    class="kt-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item " aria-haspopup="true"><a
                                            href="demo1/layout/subheader/toolbar.html" class="kt-menu__link "><i
                                                class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                                class="kt-menu__link-text">Członkowie</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
                            data-ktmenu-submenu-toggle="hover"><a href="javascript:;"
                                class="kt-menu__link kt-menu__toggle">
                                <span class="kt-menu__link-icon"><i class="fab fa-forumbee kt-svg-icon"></i></span><span
                                    class="kt-menu__link-text">Zarządzanie forum</span><i
                                    class="kt-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                                <ul class="kt-menu__subnav">

                                </ul>
                            </div>
                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
                            data-ktmenu-submenu-toggle="hover"><a href="javascript:;"
                                class="kt-menu__link kt-menu__toggle">
                                <span class="kt-menu__link-icon"><i
                                        class="fas fa-motorcycle kt-svg-icon"></i></span><span
                                    class="kt-menu__link-text">Motowisła</span><i
                                    class="kt-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item " aria-haspopup="true"><a
                                            href="demo1/layout/subheader/toolbar.html" class="kt-menu__link "><i
                                                class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                                class="kt-menu__link-text">Informacje ogólne</span></a></li>
                                    <li class="kt-menu__item " aria-haspopup="true"><a
                                            href="demo1/layout/subheader/toolbar.html" class="kt-menu__link "><i
                                                class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span
                                                class="kt-menu__link-text">Sponsorzy</span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">
                <div class="kt-header-menu-wrapper">
                </div>
                <div class="kt-header__topbar">
                    <div class="kt-header__topbar-item kt-header__topbar-item--user"
                        *ngFor="let user of getBasicInformation()">
                        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
                            <div class="kt-header__topbar-user">
                                <span class="kt-header__topbar-welcome kt-hidden-mobile">Cześć,</span>
                                <span class="kt-header__topbar-username kt-hidden-mobile">
                                    {{user.UserName}}
                                </span>
                                <span
                                    class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">{{user.UserName | slice:0:1}}</span>
                            </div>
                        </div>
                        <div
                            class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
                            <div
                                class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x backgroundColorBlack">
                                <div class="kt-user-card__avatar">
                                    <span
                                        class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold ERCcolor">{{user.UserName | slice:0:1}}</span>
                                </div>
                                <div class="kt-user-card__name">
                                    {{user.UserName}}
                                </div>
                            </div>
                            <div class="kt-notification">
                                <a href="#" class="kt-notification__item">
                                    <div class="kt-notification__item-icon">
                                        <i class="fas fa-user ERCcolor"></i>
                                    </div>
                                    <div class="kt-notification__item-details">
                                        <div class="kt-notification__item-title kt-font-bold">
                                            Mój profil
                                        </div>
                                        <div class="kt-notification__item-time">
                                            Zarządzanie kontem
                                        </div>
                                    </div>
                                </a>
                                <div class="kt-notification__custom kt-space-between">
                                    <button (click)="logOff()"
                                        class="btn btn-label btn-label-brand btn-sm btn-bold">Wyloguj się</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                <div class="kt-subheader  kt-grid__item" id="kt_subheader">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-subheader__main">
                            <h3 class="kt-subheader__title">Kokpit</h3>
                            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        </div>
                        <div class="kt-subheader__toolbar">
                        </div>
                    </div>
                </div>
                <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="kt_scrolltop" class="kt-scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>