<div *ngIf="isLoading | async" class="overlay">
    <div class="logo-spinnerERC">
        <img src="/Scripts/logo-2.png" width="150px">
    </div>
    <div class="spinner">
        <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
        </mat-progress-spinner>
    </div>

</div>