﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>H-D East Riders Club Poland</title>
    <meta name="description" content="H-D East Riders Club Poland">
    <meta name="author" content="Artur Bartkowski">
    <link rel="icon" type="image/png" href="~/Scripts/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
</head>
<body>
    <app-loader></app-loader>
    <app-east-riders></app-east-riders>
    @Html.AntiForgeryToken()
    @Scripts.Render("~/Script/Bundles")
</body>
</html>
