<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-line-chart"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Zarządzanie Treścią Opisu Klubu
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button mat-button class="btn btn-brand btn-elevate btn-icon-sm" (click)="openEditClubDialog()">
                        <i class="far fa-newspaper"></i>
                        Edytuj Treść
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
            <thead>
                <tr>
                    <th>PREZYDENT</th>
                    <th>V-PREZYDENT</th>
                    <th>V-PREZYDENT</th>
                    <th>SKARBNIK</th>
                    <th>FOTOGRAF</th>
                    <th>GRAFIK</th>
                    <th>KOMISJA REWIZYJNA</th>
                    <th>KOMISJA REWIZYJNA</th>
                    <th>KOMISJA REWIZYJNA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{clubModel?.President}}</td>
                    <td>{{clubModel?.VPresidentSecretary}}</td>
                    <td>{{clubModel?.VPresident}}</td>
                    <td>{{clubModel?.Treasurer}}</td>
                    <td>{{clubModel?.Photographer}}</td>
                    <td>{{clubModel?.GraphicDesigner}}</td>
                    <td>{{clubModel?.Chairman}}</td>
                    <td>{{clubModel?.Member1}}</td>
                    <td>{{clubModel?.Member2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>