<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Edytowanie Aktualności</h3>
        </div>
    </div>
    <div *ngFor="let error of errors.Errors" [innerHTML]="error" class="nk-navbarText serverErrors"></div>
    <form class="kt-form" #ecf="ngForm" (ngSubmit)="ecf.form.valid && updateClubInformation(ecf)">
        <div class="kt-portlet__body">
            <div class="form-group kt-form__group row">
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="erc-full-width">
                        <textarea rows="10" matInput placeholder="Opis" name="description" [(ngModel)]="data.Description"
                            #Description="ngModel" [ngClass]="{ 'is-invalid': ecf.submitted && Description.invalid }" required
                            autocomplete="off"></textarea>
                        <div *ngIf="ecf.submitted && Description.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="Description.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field">
                        <input type="text" matInput placeholder="Prezydent" name="president" [(ngModel)]="data.President"
                            #President="ngModel" [ngClass]="{ 'is-invalid': ecf.submitted && President.invalid }" required
                            autocomplete="off">
                        <div *ngIf="ecf.submitted && President.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="President.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field">
                        <input type="text" matInput placeholder="V-Prezydent" name="vpresidentsecretary" [(ngModel)]="data.VPresidentSecretary"
                            #VPresidentSecretary="ngModel" [ngClass]="{ 'is-invalid': ecf.submitted && VPresidentSecretary.invalid }" required
                            autocomplete="off">
                        <div *ngIf="ecf.submitted && VPresidentSecretary.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="VPresidentSecretary.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field">
                        <input type="text" matInput placeholder="V-Prezydent" name="vpresident" [(ngModel)]="data.VPresident"
                            #VPresident="ngModel" [ngClass]="{ 'is-invalid': ecf.submitted && VPresident.invalid }" required
                            autocomplete="off">
                        <div *ngIf="ecf.submitted && VPresident.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="VPresident.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field">
                        <input type="text" matInput placeholder="Skarbnik" name="treasurer" [(ngModel)]="data.Treasurer"
                            #Treasurer="ngModel" [ngClass]="{ 'is-invalid': ecf.submitted && Treasurer.invalid }" required
                            autocomplete="off">
                        <div *ngIf="ecf.submitted && Treasurer.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="Treasurer.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field">
                        <input type="text" matInput placeholder="Photograf" name="photographer" [(ngModel)]="data.Photographer"
                            #Photographer="ngModel" [ngClass]="{ 'is-invalid': ecf.submitted && Photographer.invalid }" required
                            autocomplete="off">
                        <div *ngIf="ecf.submitted && Photographer.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="Photographer.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field">
                        <input type="text" matInput placeholder="Grafik" name="graphicdesigner" [(ngModel)]="data.GraphicDesigner"
                            #GraphicDesigner="ngModel" [ngClass]="{ 'is-invalid': ecf.submitted && GraphicDesigner.invalid }" required
                            autocomplete="off">
                        <div *ngIf="ecf.submitted && GraphicDesigner.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="GraphicDesigner.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field">
                        <input type="text" matInput placeholder="Komisja Rewizyjna" name="chairman" [(ngModel)]="data.Chairman"
                            #Chairman="ngModel" [ngClass]="{ 'is-invalid': ecf.submitted && Chairman.invalid }" required
                            autocomplete="off">
                        <div *ngIf="ecf.submitted && Chairman.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="Chairman.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field">
                        <input type="text" matInput placeholder="Komisja Rewizyjna" name="member1" [(ngModel)]="data.Member1"
                            #Member1="ngModel" [ngClass]="{ 'is-invalid': ecf.submitted && Member1.invalid }" required
                            autocomplete="off">
                        <div *ngIf="ecf.submitted && Member1.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="Member1.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field">
                        <input type="text" matInput placeholder="Komisja Rewizyjna" name="member2" [(ngModel)]="data.Member2"
                            #Member2="ngModel" [ngClass]="{ 'is-invalid': ecf.submitted && Member2.invalid }" required
                            autocomplete="off">
                        <div *ngIf="ecf.submitted && Member2.invalid" class="invalid-feedback nk-navbarText">
                            <div *ngIf="Member2.errors.required">Pole jest wymagane.</div>
                        </div>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button type="button" mat-button mat-dialog-close
                            class="btn btn-outline-dark btn-elevate btn-icon-sm">
                            <i class="fas fa-ban"></i>
                            Anuluj
                        </button>&nbsp;
                        <button type="submit" mat-button cdkFocusInitial
                            class="btn btn-primary btn-elevate btn-icon-sm">
                            <i class="fas fa-plus"></i>
                            Zaktualizuj
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>