<div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v2" style="height: -webkit-fill-available;background-image: url(./Scripts/6.jpg);">
            <div class="kt-error_container">
                <span class="kt-error_title2 kt-font-light ERCcolor">
                    <h1 class="nk-navbarText">E-mail potwierdzony.</h1>
                </span>
                <span class="kt-error_desc kt-font-light nk-navbarText ERCcolor">
                    Za chwile zostaniesz przeniesiony do panelu logowania.
                </span>
            </div>
        </div>
    </div>